#first{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.com1{
  border: 1px solid rgb(117, 95, 216);
  border-radius: 15px;
  margin:5px 5px;
  padding: 15px 12px;
  background-color: rgb(250, 201, 238);
  box-shadow: 0px 0px 3px 1px #486ed6bf;
  line-height: 1.5;
}
.btn{
  border: none;
  background-color: rgb(188, 238, 238);
  font-size:14px;
  padding: 10px 15px;
  border-radius: 25px;
  color: rgb(103, 103, 218);
  font-weight: 600;
  box-shadow: 0px 0px 4px 1px #62e0b6bf;
}
.com-name{
  font-size: 17px;
}
.com-email{
  font-size: 13px;
}
.com-name, .com-email{
  color: rgb(23, 17, 82);
  padding: 5px 0;
  font-weight: 600;
}
.com-body{
  color: rgb(41, 37, 88);
}
.modal-window{
  width: 500px;
  height: 300px;
  background-color: rgb(151, 221, 221);
  border: 1px solid rgb(200, 200, 226);
  box-shadow: 0px 0px 3px 1px #486ed6bf;
  display: none;
  position: absolute;
  top:5%;
  left: 25%;
  font-weight: 600;
}
.name{
  margin: 10px 0;
}